@import "reset.css";
@import "font.scss";

:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1440px;
  --lightgray: rgba(0, 0, 0, 0.05);
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 10px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

body {
  overflow-x: hidden;
  .admin-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    .header {
      border-bottom: 1px solid var(--lightgray);
      position: fixed;
      top: 0;
      right: 0;
      width: calc(100% - 88px);
      padding: 25px 32px;
      height: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .page-title {
        font-size: 20px;
        font-weight: 500;
      }
    }
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 300px;
      background: #fff;
      border-right: 1px solid var(--lightgray);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease;
      z-index: 10;
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        width: 100%;
        height: 80px;
        border-bottom: 1px solid var(--lightgray);
        .logo {
          width: 138px;
          height: 15px;
        }
      }
      #lock-icon,
      #sidebar-close {
        display: inline-block;
        background: url("../images/btn_menu.svg") no-repeat center 100%;
        width: 32px;
        height: 8.5px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      #sidebar-close {
        display: none;
        color: #333;
      }
      &.locked {
      }
      &.close {
        width: 88px;
        .top {
          padding: 0 28px;
        }
        .logo {
          opacity: 0;
          pointer-events: none;
          width: 0;
        }
        #lock-icon {
          opacity: 1;
        }
      }
      .menus {
        padding: 20px 20px 0 20px;
        .menu-item {
          .link {
            display: flex;
            align-items: center;
            padding: 12px 12px;
            .icon {
              display: inline-flex;
              width: 24px;
              height: 24px;
              background: #ddd;
            }
            .tit {
            }
          }
        }
      }
    }
    .contents {
      position: relative;
      width: calc(100% - 300px);
      transition: all 0.3s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      min-height: calc(100vh - 50px);
      margin-left: 88px;
      padding: 124px 35px 0 35px;
      box-sizing: border-box;
      .inner {
        width: 100%;
        height: 100%;
      }
    }
  }
  &.sidebar-locked {
    .header {
      width: calc(100% - 300px);
    }
    .contents {
      margin-left: 300px;
    }
  }
  /*modal*/
  [class^="modal-"] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    &.open {
      display: flex;
    }
    .dim {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
    }
    .inner {
      position: fixed;
      top: 50%;
      left: 50%;
      width: calc(100% - 40px);
      background: #fff;
      height: 335px;
      border-radius: 10px;
      padding: 20px 20px 70px 20px;
      transform: translate(-50%, -50%);
      .top {
        position: relative;
        width: 100%;
        padding-bottom: 11px;
        border-bottom: 1px solid #eee;
        .title {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .close-modal {
          position: absolute;
          top: 0;
          right: 0;
          width: 24px;
          height: 24px;
          background-size: 100%;
          background: #ddd;
        }
      }
      .body {
      }
      .bottom {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        .btn-wrap {
          margin-top: 0;
          display: flex;
          button {
            &:first-child {
              border-radius: 0 0 0 10px;
            }
            &:last-child {
              border-radius: 0 0 10px 0;
            }
          }
        }
      }
    }
  }
}

.search-desc {
  .num {
    font-weight: 700;
  }
}

.table {
  table {
    width: 100%;
    position: relative;
    th,
    td {
      text-align: left;
      padding: 20px 24px;
    }
    th {
      border-top: 2px solid #000;
      border-bottom: 1px solid #000;
    }
    td {
      border-bottom: 1px solid var(--lightgray);
    }
  }
}

.pagination {
  .page-list {
    display: flex;
    align-items: center;
    button {
      padding: 0 10px;
      box-sizing: border-box;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8px;
        height: 40px;
        font-weight: 500;
      }
      &:disabled {
      }
      &.btn {
        width: 40px;
        height: 40px;
      }
      &.first {
        margin-right: 8px;
        background: url("../images/pagi-duble-arrow.svg") no-repeat center 100%;
        transform: rotate(180deg);
        &:disabled {
          background: url("../images/pagi-duble-arrow-disabled.svg") no-repeat
            center 100%;
          transform: rotate(0);
        }
      }
      &.prev {
        margin-right: 20px;
        background: url("../images/pagi-arrow.svg") no-repeat center 100%;
        transform: rotate(180deg);
        &:disabled {
          background: url("../images/pagi-arrow-disabled.svg") no-repeat center
            100%;
          transform: rotate(0);
        }
      }
      &.next {
        margin-left: 20px;
        background: url("../images/pagi-arrow.svg") no-repeat center 100%;
        &:disabled {
          background: url("../images/pagi-arrow-disabled.svg") no-repeat center
            100%;
          transform: rotate(180deg);
        }
      }
      &.last {
        margin-left: 8px;
        background: url("../images/pagi-duble-arrow.svg") no-repeat center 100%;
        &:disabled {
          background: url("../images/pagi-duble-arrow-disabled.svg") no-repeat
            center 100%;
          transform: rotate(180deg);
        }
      }
    }
  }
}

.dropdown-list {
  display: none;
  &.show {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  body {
    .sidebar {
      left: 0;
      z-index: 1000;
    }
    .sidebar.close {
      left: -100%;
    }
    #sidebar-close {
      display: block;
    }
    #lock-icon {
      display: none;
    }
    .navbar {
      left: 0;
      max-width: 100%;
      transform: translateX(0%);
    }
    #sidebar-open {
      display: block;
    }
  }
}
