@import "reset.css";
@import "root.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  .admin-wrap {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: var(--bs-gray-100);
    .navbar {
      border: 1px solid #ebe9f1;
      position: fixed;
      top: 0;
      right: 32px;
      margin-top: 20px;
      width: calc(100% - 324px);
      height: 60px;
      border-radius: 8px;
      background: #fff;
    }
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 260px;
      height: 100%;
      border-right: 1px solid #ebe9f1;
      background: #f8f8f8;
      transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0s;
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .contents {
      position: relative;
      width: 100%;
      transition: all 0.3s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      min-height: calc(100% - 3.35rem);
      margin-left: 260px;
      padding: 124px 32px 0 32px;
      box-sizing: border-box;
      .inner {
        width: 100%;
        height: 100%;
      }
      .footer {
      }
    }
  }
}
